<a href="https://colab.research.google.com/github/steenbergen/DeepLearn/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

# Variables
How to define, input, and output variables. Variable types.

In [2]:
age = 18
print(age)

18

In [5]:
age = 45
salary = 70.50
first_name = "Fred"
is_self_employed = False
print(is_self_employed)

False

In [7]:
first_name = input("What is your first name? ")

What is your first name? Marco

In [8]:
print("Hello " + first_name)

Hello Marco

The **input** function stores a string.

# Type Conversion
How to convert between variable types. There are three types of variables: (1) numbers; (2) strings; and (3) Booleans.

In [11]:
# Example of a number
price = 299.99
print(price)

299.99

In [12]:
# Example of a string
last_name = "Smith"
print(last_name)

Smith

In [19]:
# Example of a Boolean
is_defunct = True
print(is_defunct)

True

In [21]:
birth_year = input("Enter your birth year: ")
# If we want age, we could try age = 2023 - birth_year, but that fails.
# the reason is that input stores a string and a number minus a string is
# uninterpretable to Python. Hence, we need a type conversion.
birth_year = int(birth_year)
age = 2023 - birth_year
print(age)

enter your birth year: 1963
60

In [23]:
# More elegant,perhaps.
birth_year = int(input("Enter your birth year: "))
age = 2023 - birth_year
print(age)
# or
birth_year = input("Enter your birth year: ")
age = 2023 - int(birth_year)
print(age)

Enter your birth year: 1963
60
Enter your birth year: 1963
60

In [26]:
# Other conversions include float(), bool(), and str()
# Illustration with creating a calculator.
# Python does not know how to concatenate a float and
# a string, whence the conversion back in the print
# statement.
first = input("Enter the first number: ")
second = input("Enter the second number: ")
sum = float(first) + float(second)
print("The sum is " + str(sum))

Enter the first number: 10.1
Enter the second number: 29.9
The sum is 40.0

# Indices
Indices in Python start with 0 and not with 1.

In [33]:
numbers = [1, 2, 3, 4, 5]
numbers.index(3)

2

In [38]:
print("The index of 3 is: ", numbers.index(3))

The index of 3 is:  2

# Strings
Strings are objects with a series of capabities. We see how to deploy those using **course.** These are known as methods. They do not impact the original string.

In [30]:
course = "Deep Learning 101"
print(course.upper())

DEEP LEARNING 101

In [41]:

course.find("e")

1

In [42]:
# Python is case sensitive!
course.find("d")

-1

In [44]:
course.find("ea")

6

In [45]:
# The in-operator checks whether a character or word is in the string. E.g.,
print("Deep" in course)

True

In [115]:
first = "John"
last = "Smith"
msg = f'{first} {last} has an interest in deep learning'
print(msg)

John Smith has an interest in deep learning

# Arithmetic and Mathematical Operators
Arithmetic in Python is pretty straightforward.

In [49]:
print(2 + 1)

3

In [50]:
print(2 - 1)

1

In [51]:
print(2 * 1)

2

In [53]:
# Dvision has two methods. The first one is well known.
print(2 / 3)

0.6666666666666666

In [54]:
# The second one retains the leading digit.
print (2 // 3)

0

In [55]:
# The modulus of a number is
print(10 % 3)

1

In [57]:
# Exponents are
print(10 ** 2)

100

The usual rules of operator precedence apply. Multiplication/division are evaluated before plus/minus. The use of parentheses can alter this.

In [66]:
x = 10 + 3 * 2
print(x)

16

In [67]:
x = (10 + 3) * 2
print(x)

26

In [116]:
x = 3.9
print(round(x))

4

In [117]:
x = -3.9
print(abs(x))

3.9

# Comparison Operators

In [68]:
x = 3 > 2
print(x)

True

In [69]:
x = 2 == 3
print(x)

False

In [70]:
x = 2 != 3
print(x)

True

# Logical Operators

In [73]:
height = 1.89
print(height >= 1.80 and height < 1.90)

True

In [74]:
height = 1.95
print(height >= 1.80 or height < 1.90)

True

In [75]:
print(height < 1.90)

False

In [76]:
print(not height < 1.90)

True

# If Statements

In [81]:
temp = 2
if temp > 30:
  print("It's quite hot, today.")
  print("Drink lots of water.")
elif temp > 20:
  print("It is a pleasant day.")
elif temp > 10:
  print("It is a bit nippy.")
  print("Wear a sweater and coat.")
else:
  print("It is cold, today.")
  print("Do you really want to go out?")
print("Goodbye.")

It is cold, today.
Do you really want to go out?
Goodbye.

# While Loops
Used to repeat a block of code while some condition holds true.

In [82]:
i = 1
while i <= 5:
  print(i)
  i = i + 1

1
2
3
4
5

In [85]:
i = 995
while i <= 1_000: # Perhaps clearer way of writing 1000
  print(i)
  i = i + 2

995
997
999

In [87]:
i = 1
while i <= 5:
  print(i * "*")
  i = i + 1

*
**
***
****
*****

# Lists
We have seen *primitive* data types: Booleans, numbers, and strings. There are also *complex* types. One of those is the list. I actually introduced one when discussing indices. Here, we'll say more about them.

In [88]:
names = ["Adam", "Bob", "Christina", "Delia"]
print(names)

['Adam', 'Bob', 'Christina', 'Delia']

In [89]:
print(names[0])

Adam

In [90]:
print(names[-1]) # First element from end of list

Delia

In [93]:
print(names[1:3]) # Notice the last index is not inclusive

['Bob', 'Christina']

In [122]:
# Lists can have multiple dimensions!
matrix = [[1, 2, 3], [4, 5, 6], [7, 9, 9]]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 9, 9]]

In [123]:
print(matrix[0])

[1, 2, 3]

In [124]:
print(matrix[0][1])

2

# List Methods
Like strings, lists are objects. They can be operated on, which makes for very powerful programming.

In [94]:
numbers = [1, 2, 3, 4, 5]
numbers.append(6)
print(numbers)

[1, 2, 3, 4, 5, 6]

In [96]:
numbers.insert(0,-1)
print(numbers)

[-1, -1, 1, 2, 3, 4, 5, 6]

In [99]:
numbers.remove(-1)
print(numbers)

[1, 2, 3, 4, 5, 6]

In [101]:
numbers.clear()
print(numbers)

False

In [102]:
numbers = [1, 2, 3, 4, 5]
print(1 in numbers)

True

In [103]:
print(len(numbers))

5

# For Loops
We look at simple and nested loops.

In [104]:
numbers = [1, 2, 3, 4, 5]
for item in numbers:
  print(item)

1
2
3
4
5

In [106]:
# Alternative but less efficient code using while loop
i = 0
while i < len(numbers):
  print(numbers[i])
  i = i + 1

1
2
3
4
5

In [121]:
# Imagine we want a list of coordinates. Then,
x = [1, 2, 3, 4]
y = [1, 2, 3, 4]
for pos1 in x:
  for pos2 in y:
    print(f'({pos1},{pos2})')

(1,1)
(1,2)
(1,3)
(1,4)
(2,1)
(2,2)
(2,3)
(2,4)
(3,1)
(3,2)
(3,3)
(3,4)
(4,1)
(4,2)
(4,3)
(4,4)

# The Range Function
Used to generate a sequence of numbers.

In [107]:
numbers = range(5)
print(numbers)

range(0, 5)

In [108]:
for number in numbers:
  print(number)

0
1
2
3
4

In [109]:
numbers = range(1, 10) # Again note exclusion of the last value.
for number in numbers:
  print(number)

1
2
3
4
5
6
7
8
9

In [110]:
numbers = range(1, 10, 2)
for number in numbers:
  print(number)

1
3
5
7
9

In [111]:
# Quite frequently, we do not need to store the range.
for number in range(5):
  print(number)

0
1
2
3
4

# List Comprehension
List comprehension is often an alternative to for loops that does not only involve less code, but also executes faster.

In [158]:
fruits = ["apple", "banana", "cherry", "pear", "fig"]
newlist = []
for item in fruits:
  if "a" in item:
    newlist.append(item)

print(newlist)

['apple', 'banana', 'pear']

In [159]:
fruits = ["apple", "banana", "cherry", "pear", "fig"]
newlist = [item for item in fruits if "a" in item]
print(newlist)

['apple', 'banana', 'pear']

# Tuples
These are immutable lists. Useful when you do not want to touch a list at all.

In [113]:
numbers = (1, 1, 2, 3) # Note the round instead of square brackets
numbers.count(1)

2

In [114]:
numbers.index(3)

3

# Unpacking
Imagine we want to use values of a tuple or list in different places. Then we can unpack the tuple.

In [125]:
# Clunky
coordinates = (1, 2, 3)
coordinates[0] * coordinates[1] * coordinates[2]

6

In [126]:
# Simpler already
x = coordinates[0]
y = coordinates[1]
z = coordinates[2]
x * y * z

6

In [127]:
# Much better still:
x, y, z = coordinates
x * y * z

6

# Sets
Another way of grouping data is to generate a set. But sets cannot contain two items with the same value, which limits their use.

In [154]:
myset = {"Apple", "Banana", "Cherry"}
mylist = ["Kiwi", "Orange"]
myset.update(mylist)
print(myset)

{'Kiwi', 'Orange', 'Banana', 'Apple', 'Cherry'}

# Dictionaries
Used for key-value pairs, e.g., Name: John Smith; Email: mrjohn@gmail.com, etc.

In [128]:
customer = {
    "name": "John Smith",
    "email": "mrjohn@gmail.com",
    "age": 52,
    "is_married": True
}
customer["name"]

'John Smith'

In [129]:
# This is problematic when we use a mis-spelled or non-existing key.
# Better
print(customer.get("name"))

John Smith

In [130]:
print(customer.get("phone"))

None

In [131]:
# We can add a default value
print(customer.get("phone", "XXX-XXXX"))

XXX-XXXX

# Functions and Parameters
This is not essential for this course, but makes for better programming.

In [133]:
# Best practice is to have two blank lines after def
def greet_user():
  print("Hi there.")
  print("Welcome aboard.")


print("Start")
greet_user()
print("Finish")

Start
Hi there.
Welcome on board.
Finish

In [134]:
def greet_user(name):
  print(f"Hi {name}.")
  print("Welcome aboard.")


greet_user("Carlos")

Hi Carlos.
Welcome aboard.

In [135]:
def greet_user(first_name, last_name):
  print(f"Hi {first_name} {last_name}.")
  print("Welcome aboard.")


greet_user("Carlos", "Santana")

Hi Carlos Santana.
Welcome aboard.

In [136]:
# Order matters because of positional arguments
greet_user("Brown", "Gordon")

Hi Brown Gordon.
Welcome aboard.

In [138]:
# But not if we use keyword arguments
greet_user(last_name = "Brown", first_name = "Gordon")

Hi Gordon Brown.
Welcome aboard.

In [140]:
# If mixing positional and keyword arguments, then put positionals first
greet_user("John", last_name = "Smith")

Hi John Smith.
Welcome aboard.

In [141]:
# Return statements return values
# Note: By default functions return None, unless you use return.
def square(number):
  return number * number


square(3)

9

# Handling Errors
Exit code 0 means the program ran well. But we may get errors---exit code 1---when, for instance, someone entered the wrong variable type for a function. Exception calls allow us to prevent program crashes when this happens.

In [144]:
try:
  age = int(input("Age: "))
  print(age)
except ValueError:
  print("Invalid value. Please use numeric age.")

Age: Twenty
Invalid value. Please use numeric age.

# Classes and Constructors
Complex concepts may require us to define classes with appropriate methods.

In [147]:
# Pascal naming convention:
# Functions and variables in lower-case. Classes with a capital on each word.
# Words are contracted (e.g., NewClass) as opposed to separated by an
# underscore (e.g., bad_ass_function).
class Point:
  def move(self):
    print("move")

  def draw(self):
    print("draw")


point1 = Point()
point1.x = 10
point1.y = 20
point1.draw()
print(point1.x)

draw
10

In [148]:
# We want to ensure that the point class has coordinates.
# We use a constructor to assign those coordinates.
class Point:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def move(self):
    print("move")

  def draw(self):
    print("draw")


point = Point(10, 20)
print(point.y)

20

In [ ]:
# Inheritance prevents duplicating code. An example of bad coding:
class Dog:
  def walk(self):
    print("Walk")


class Cat:
    def walk(self):
      print("Walk")

In [150]:
# Better. Note, pass is used not to have empty input for a class.
class Mammal:
  def walk(self):
    print("Walk")


class Dog(Mammal):
  pass


class Cat(Mammal):
  pass


dog1 = Dog()
dog1.walk()

Walk

# Using Modules

In [118]:
import math
math.ceil(2.9)

3

In [119]:
math.floor(2.9)

2

In [120]:
math.factorial(3)

6